.pydevproject
.project
00-index-thomisticus/scripts/in/*
00-index-thomisticus/scripts/out/*
00-index-thomisticus/scripts/tracer_data/*
00-index-thomisticus/scripts/matches/*

sunburst\.xlsx

lwn\.syno

99-bibliography/

97-gnuplot/

98-graphml/

lemlat-3-instructions\.txt

scripts/importDatabase\.sh

scripts/ShowSpecialChars\.class

scripts/ShowSpecialChars\.java

00-index-thomisticus/scripts/extracted-quotations\.csv

00-index-thomisticus/scripts/extracted-quotations_clean\.csv

00-index-thomisticus/scripts/extracted-quotations_no-punct\.csv

00-index-thomisticus/tags_1\.pdf

00-index-thomisticus/index-thomisticus-treebank-SCG-INCOMPLETA\.zip

00-index-thomisticus/13-03-2017_all_resources_all_formats\.zip

corpus-lemlat/

00-index-thomisticus/Treebank\.csts

01-corpus/downloaded/

04-corpus-tracer/

BabelNetExtract/

03-corpus-treetagger-passarotti/

05-results/scg-deDivinatione\.zip

05-results/scg-metaphysica\.zip

05-results/scg-deDeoSocratis\.zip

05-results/scg-philosophiaeConsolationis\.zip

05-results/scg-DeTrinitate\.zip

07-tracer/2017-tracer/

07-tracer/2018-tracer-TreeTaggerLemmatiserImpl/

.DS_Store

01-corpus/.DS_Store

07-tracer/.DS_Store
