
corpus/reused-texts/xml-sources/

lemlat-3-instructions\.txt

xml-sources/

lemlat-3/

bibliography/

LatinDeclensions\.pdf

corpus/reused-texts/901-BOTS\.DATI

corpus/reused-texts/boethius-de-trinitate\.txt\.upper

ITTB/

ITTB\.ods

corpus/reused-texts/lat-x-bible-novavulgata\.txt

corpus/reused-texts/lat-x-bible-vulgataclementina\.txt
